.block1 {
    float: left;
    font-size: 24px;
    width: 8%;
    height: 14%;
    vertical-align: left;
    position: absolute;
    top: 100px;
    left:100px
}
.block2 {
    float: left;
    font-size: 24px;
    width: 8%;
    height: 14%;
    vertical-align: left;
    position: absolute;
    top: 100px;
    left:230px
}
.block3 {
    float: left;
    font-size: 24px;
    width: 8%;
    height: 14%;
    vertical-align: left;
    position: absolute;
    top: 100px;
    left:360px
}
.block4 {
    float: left;
    font-size: 24px;
    width: 8%;
    height: 14%;
    vertical-align: left;
    position: absolute;
    top: 100px;
    left:490px
}
.block5 {
    float: left;
    font-size: 24px;
    width: 8%;
    height: 14%;
    vertical-align: left;
    position: absolute;
    top: 100px;
    left:620px
}
.block6 {
    float: left;
    font-size: 24px;
    width: 8%;
    height: 14%;
    vertical-align: left;
    position: absolute;
    top: 200px;
    left:100px
}
.block7 {
    float: left;
    font-size: 24px;
    width: 8%;
    height: 14%;
    vertical-align: left;
    position: absolute;
    top: 200px;
    left:230px
}
.block8 {
    float: left;
    font-size: 24px;
    width: 8%;
    height: 14%;
    vertical-align: left;
    position: absolute;
    top: 200px;
    left:360px
}
.block9 {
    float: left;
    font-size: 24px;
    width: 8%;
    height: 14%;
    vertical-align: left;
    position: absolute;
    top: 200px;
    left:490px
}
.block10 {
    float: left;
    font-size: 24px;
    width: 8%;
    height: 14%;
    vertical-align: left;
    position: absolute;
    top: 200px;
    left:620px
}
.block11 {
    float: left;
    font-size: 24px;
    width: 8%;
    height: 14%;
    vertical-align: left;
    position: absolute;
    top: 300px;
    left: 100px
}
.block12 {
    float: left;
    font-size: 24px;
    width: 8%;
    height: 14%;
    vertical-align: left;
    position: absolute;
    top: 300px;
    left: 230px
}
.block13 {
    float: left;
    font-size: 24px;
    width: 8%;
    height: 14%;
    vertical-align: left;
    position: absolute;
    top: 300px;
    left: 360px
}
.block14 {
    float: left;
    font-size: 24px;
    width: 8%;
    height: 14%;
    vertical-align: left;
    position: absolute;
    top: 300px;
    left: 490px
}
.block15 {
    float: left;
    font-size: 24px;
    width: 8%;
    height: 14%;
    vertical-align: left;
    position: absolute;
    top: 300px;
    left: 620px
}
.block16 {
    float: left;
    font-size: 24px;
    width: 8%;
    height: 14%;
    vertical-align: left;
    position: absolute;
    top: 400px;
    left: 100px
}
.block17 {
    float: left;
    font-size: 24px;
    width: 8%;
    height: 14%;
    vertical-align: left;
    position: absolute;
    top: 400px;
    left: 230px
}
.block18 {
    float: left;
    font-size: 24px;
    width: 8%;
    height: 14%;
    vertical-align: left;
    position: absolute;
    top: 400px;
    left: 360px
}
.block19 {
    float: left;
    font-size: 24px;
    width: 8%;
    height: 14%;
    vertical-align: left;
    position: absolute;
    top: 400px;
    left: 490px
}
.block20 {
    float: left;
    font-size: 24px;
    width: 8%;
    height: 14%;
    vertical-align: left;
    position: absolute;
    top: 400px;
    left: 620px
} 

.score {
    float: left;
    font-size: 24px;
    width: 8%;
    height: 14%;
    vertical-align: left;
    position: absolute;
    top: 200px;
    left:1020px
}

.timeLeft {
    float: left;
    font-size: 24px;
    width: 8%;
    height: 14%;
    vertical-align: left;
    position: absolute;
    top: 100px;
    left:1020px
}
.total {
    float: left;
    font-size: 24px;
    width: 8%;
    height: 14%;
    vertical-align: left;
    position: absolute;
    top: 200px;
    left:1150px
}
.timeseconds {
    float: left;
    font-size: 24px;
    width: 8%;
    height: 14%;
    vertical-align: left;
    position: absolute;
    top: 100px;
    left:1150px
}
.pause {
    float: left;
    font-size: 24px;
    vertical-align: left;
    position: absolute;
    top: 100px;
    left:1300px
}
.Restart {
    float: left;
    font-size: 24px;
    vertical-align: left;
    position: absolute;
    top: 100px;
    left:1300px
}